---
interface Props {
  src: string;
  alt: string;
  title: string;
  description: string;
  category: string;
}

const { src, alt, title, category } = Astro.props;
---

<a
  href={src}
  class="glightbox gallery-item relative block overflow-hidden rounded-xl shadow-xl group mb-4"
  :class="{'animate-reveal': true}"
>
  <img
    src={src}
    alt={alt}
    class="w-full h-auto object-cover transition-transform duration-700 group-hover:scale-105 parallax"
    loading="lazy"
  />
  <div
    class="absolute inset-0 bg-gradient-to-t from-black/80 to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-500 flex flex-col justify-end p-4"
  >
    <h3 class="text-white text-lg font-semibold mb-1">{title}</h3>
    <p class="text-yellow-300 text-sm font-medium">{category}</p>
    <i
      class="fas fa-search text-yellow-300 absolute top-4 end-4 text-xl opacity-0 group-hover:opacity-100 transition-opacity duration-300"
    ></i>
  </div>
</a>
